@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1125px){
      //flex-direction: column;
      a {
      }
      .header__cart{
        display: none;
      }
    }
    @media (max-width: 645px) {
      flex-direction: column;
      .header__cart{
        margin-top: 20px;
      }
    }
    .button-back{
      padding: 6px;
      min-width: 100px;
      background-color: rgba(255, 61, 61, 0.9);
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 15px;
      box-shadow: 0 0 30px rgba(255, 0, 0, 0.4);

    }

    h1 {
      margin-top: 4px;
      color: $red;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
