@import '../variables';

.stat-block{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 500px;
  height: 580px;
  background-color: rgba(150, 150,150, 50%);
  border-radius: 10px;
  &__info{
    margin-top: 30px;
    height: 430px;
    width: 300px;
  }
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  &-player:hover{
    //transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
    span{
      font-size: 21px;
      color: rgb(255, 255, 255);
    }
  }
  &-player {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    width: 120px;
    height: 25px;
    //background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 2px;
    border-radius: 3px;
    span{
      color: rgba(255, 255, 255, 0.85);
    }
  }

  &-image {
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    span{
      width: 30px;
      word-wrap: break-word;
    }
    img{
      object-fit: contain;
      width: 60px;
    }
  }

  &-wrapper {
    margin: 5px 10px ;
    display: flex;
    justify-content: center;
  }
}
